<footer class="atlas-form-footer">
  <button type="button" data-action="copyReport"><i class="fas fa-copy"></i>
    {{localize "ATLAS.Troubleshooter.CopyReport"}}</button>
  <button type="button" data-action="exportReport"><i class="fas fa-download"></i>
    {{localize "ATLAS.Troubleshooter.ExportReport"}}</button>
</footer>
